:root {
  --primary-color: rgb(156, 110, 26);
  --secondary-color: #541f10;
  --background-color: #dfd8c9;
  --background-color-alt: #c29a45;
  --accent-color: #354f2d;
  --text-color: #1a1008;
  --warning: #800000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(46, 107, 138);
    --secondary-color: #1a8c7a;
    --background-color: #0b151d;
    --background-color-alt: #3c5163;
    --accent-color: #8c9bab;
    --text-color: #d6e4ec;
    --warning: #800000;
  }
}
