:root {
  --primary-color: #0b151d;
  --secondary-color: #3c5163;
  --background-color: rgb(46, 107, 138);
  --background-color-alt: #1a8c7a;
  --accent-color: #d6e4ec;
  --text-color: #8c9bab;
  --warning: #800000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(46, 107, 138);
    --secondary-color: #1a8c7a;
    --background-color: #0b151d;
    --background-color-alt: #3c5163;
    --accent-color: #8c9bab;
    --text-color: #d6e4ec;
    --warning: #800000;
  }
}
