@import "./utilities/Colors.css";

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Poppins", "Rubik", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: var(--text-color);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
